body {
  background-color: rgb(135, 5, 5);
  margin: 0;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.background-image {
  position: absolute;
  top: 0;
  /* left: 25%; */
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 10; 
}

.lights {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  height: 100vh;
}
.title {
  position: relative;
  z-index: 3;
  color: white;
  font-size: 3em;
  margin-top: 20px;
  /* width: 50%; */
}

.lightBaixo {
  width: 20px;
  height: 20px;
  margin: 50px;
  margin-top: 100px; 
  border-radius: 50%;
  background-color: yellow;
  animation: blink 1s infinite;
}

.lightCima {
  width: 20px;
  height: 20px;
  margin: 50px;
  margin-bottom: 100px; 
  border-radius: 50%;
  background-color: yellow;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}